.app {
  background-color: #000000;
  color: #808080;
  display: flex;
  font-size: calc(1px + 2vh);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100vh;
}

a {
  color: inherit;
}

a:hover {
  color: #ff0000;
}