.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: #808080;
}

.App-link {
  color: #ff0000;
}

.Preview-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Preview {
  border-style: solid;
  border-color: #480000;
  background-color: #333333;
}

.Thumbnail{
  padding-bottom: 10px;
  width: 100%;
}